h1 {
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    border: 1px solid black;
    color: white;
    background-color: rgb(3, 59, 3);
    padding: 5px;
}
.part1 {
    font-size: larger;
    text-align: center;
}
#p1{
    margin-top: 80px;
    margin-bottom: 0%;
}
#image {
    float: left;
    clear: right;
    margin-right: 50px;
}
.part2 {
    padding: 200px;
    display: flex;
    font-size: x-large;
    margin-top: 0%;

}
#male {
    margin-left: 150px;
    border :2px solid gray;
    padding: 20px;
}
#female {
    margin-left: 300px;
    border :2px solid gray;
    padding: 20px;
}
#form {
    display: flex;
    flex-direction: column;
}
body {
    background-color: rgb(150, 172, 106);
}

h2 {
    margin-top: 300px;
}
